name: Installing Python
'on':
  - push
jobs:
  build:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-12
          
        py-version:
          - 3.9
          - 3.8
          - 3.7
          - 4.*
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '${{ matrix.py-version }}' 